.header{
   position : relative;
   display : flex; 
   flex-direction: row;
   background-color:  #222;
   height: 36px;
   padding : 8px 32px 8px 16px;
   align-items: center;

}

#header-logo-container {
    flex : 1 1 0;
    width : 100px;
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotateY(360deg); 
    } 
}

.header-logo-container-logo {
    background-color: #ff7f7f; 
    animation: spin 8s linear infinite;    
}


#header-button-booking{
    width : 150px;   
    justify-self: right;    
}

#header-button-login{
    width : 80px;
    
    justify-self: right;
}

.modal{
    position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);  
}

